# dependencies
node_modules/

# env files
.env
.env.*
!.env.example

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug / logs
npm-debug.*
yarn-debug.*
yarn-error.*
logs/
*.log

# macOS
.DS_Store
*.pem

# typescript
*.tsbuildinfo

# misc
app-example
.cache/

# generated native folders
/ios
/android

# default IDE files
.idea/
.vscode/