# =========================
# Mapbox (Public Token)
# =========================
EXPO_PUBLIC_MAPBOX_ACCESS_TOKEN=your_mapbox_token

# =========================
# Backend API URL
# =========================
# Use your local IP address for physical device testing
EXPO_PUBLIC_API_URL=https://sporting-nearby-patch-citizenship.trycloudflare.com/api